.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  background: #e9ffee;
  width: 100%;
  padding: 30px;
  margin: 0;
}
.image-container {
  width: 40%;
  overflow: hidden;
}
.image-container img {
  width: 100%;
}
.about-description {
  width: 50%;
}
h2 {
  text-align: center;
}
